{% extends 'base.html' %} {% block title %}
<title>详情页</title>
{% endblock %} {% block css %} {% load static %}
<link rel="stylesheet" href="{% static 'css/details.css' %}"> {% endblock %} {% block main %}
<div>

    <!--文章开始-->
    <div class="jumbotron jumbotron-ad hidden-print">
        <div class="container">
            <h1> {{article.title}} </h1>
            <p><a href="/user/?id={{article.user.id}}">{{article.user.name}} </a> </p>
            <p>
                <span>{{article.time}}</span>
                <span class="badge badge-light">{{article.category.name}}</span>
            </p>
        </div>
    </div>
    <div class="content-underlay"></div>
    <div class="container">
        <article class="page-content"> {{article.content}}</article>
    </div>

    <div class="hr margin-top-xl">
        <span class="hr-text text-xl text-muted">end</span>
    </div>

    <!--文章结束-->
    <div class="container">
        <!-- 删除文章 -->
        {% if user == article.user %}
        <a href="/article_delete/?id={{article.id}}">删除文章</a>
        <!-- 编辑文章 -->
        <a href="/article_update/?id={{article.id}}">编辑文章</a> {% endif %}
        <!--留言开始-->
        {% if user %}
        <form action="/details/" method="POST">
            {% csrf_token %}
            <input name="article" value="{{article.id}}" hidden />
            <textarea name="content" rows="10"></textarea>
            <br>
            <input type="submit" value="确定">
        </form>
        {% else %}
        <p> 您还没有登录，请登录后再留言。</p>
        {% endif %}
    </div>

    <div class="container">
        <div class="container">
            <div class="top">
                <button type="button" class="btn bg-green">全部留言
                <span class="badge badge-light">{{ leaves | length }}</span>
                </button>
            </div>
            {% for i in leaves %}
            <div class="card border-success mb-3">
                <div class="card-header bg-transparent border-success">
                    <span>{{i.time}}</span>{% if user == i.user %}
                    <a href="/leave_delete/?id={{i.id}}">删除留言</a>{% endif %}
                </div>

                <div class="card-body text-success">
                    <h5 class="card-title">{{i.user}}</h5>
                    <p class="card-text">{{i.content}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!--留言结束-->

{% endblock %}