{% extends 'base.html' %} {% block title %}
<title>详情页</title>
{% endblock %} {% block main %}
<!--文章开始-->
<div id="article_detail">
    {% if article %}
    <div class="container">
        <h3>{{article.title}}</h3>
        <p class="desc1"><span class="time">{{article.time}}</span> <span class="category">{{article.category.name}}</span></p>
        <div class="content">
            {{article.content}}
        </div>
    </div>
    {% endif %}
</div>
<!--文章结束-->
<!-- 删除文章 -->
{% if user == article.user %}
<a href="/article_delete/?id={{article.id}}">删除文章</a>
<!-- 编辑文章 -->
<a href="/article_update/?id={{article.id}}">编辑文章</a>
{% endif %}
<!--留言开始-->
<div id="leacots">
    <div class="container">
        {% if user %}
        <form action="/details/" method="POST">
            {% csrf_token %}
            <input name="article" value="{{article.id}}" hidden />
            <textarea name="content" cols="128" rows="10"></textarea>
            <br>
            <input type="submit" value="确定">
        </form>
        {% else %}
        <p> 您还没有登录，请登录后再留言。</p>
        {% endif %}

        <div id="leave_list">
            <div class="container">
                <div class="top">
                    <span>全部留言</span>
                    <span class="number">{{ leave | length }}</span>
                </div>
                <div class="bottom">
                    {% for i in leave %}
                    <div class="box">
                        <div class="left">
                            <img src="/media/{{i.img}}" alt="">
                        </div>
                        <div class="right">
                            <div class="right_top">
                                <span>{{i.user}}</span>
                                <span>{{i.time}}</span>
                            </div>
                            <div class="right_bottom">
                                <p>{{i.content}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>

            <!--留言结束-->

            {% endblock %}