{% extends 'base.html' %} {% block title %}
<title>发帖</title>
{% endblock %} {% block main %}
<form action="/post/" method="post">
    {% csrf_token %}
    <div id="post">
        <div class="container">
            <label for="">标题：</label>
            <input type="text" name='title' /></br>
            <select name='category'>
                {% for i in categorys %}
                <option value="{{i.name}}">{{i.name}}</option>
                {% endfor %}
            </select>
            </br>
            <textarea name="content" id="" cols="128" rows="10"></textarea>
            <br>
            <input type="submit" value="提交">
        </div>
        <span>{{ error }}</span>
    </div>
</form>
{% endblock %}