{% extends 'base.html' %} {% block title %}
<title>发帖</title>
{% endblock %} {% block main %}
<span>{{ error }}</span>
<style>
    .form-control {
        margin: auto;
        margin-bottom: 10px;
        width: 90%;
    }

    .post-header {
        margin: 80px 0 30px 0;
        text-align: center;
        font-size: 24px;
        color: #a3a3a3;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
</style>
<div class="container">
    <div class="post-header">
        分享你的知识、经验和见解...
    </div>
    <form action="/post/" method="post">
        {% csrf_token %}

        {% load addclass %}

        {% if not is_mobile %}
            {{ form.media }}
        {% endif %}

        {{ form.title | class:"form-control form-control-lg" }}
        {{ form.category |  class:"form-control form-control-sm" }}
        {{ form.content | class:"form-control" }}

        <button class="btn btn-success" type="submit">提交</button>
    </form>
</div>
{% endblock %}