<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>注册界面</title>
</head>

<body>
    <form action="">
        <div id="register">
            <div class="container">
                <label for="">用 &nbsp户&nbsp名：</label>
                <input type="text" name="" id="">
                <p>
                    <label for="">密&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp码：</label>
                    <input type="password" name="" id="">
                </p>
                <p>
                    <label for="">重复密码：</label>
                    <input type="password" name="" id="">
                </p>
                <p>
                    <input type="button" value="注册">
                </p>
            </div>
        </div>
    </form>
</body>

</html>