.bg-green {
    background-color: #148a63;
}

.padding-content {
    margin-top: 50px;
}

nav ul {
    text-align: right;
}

body {
    background-color: #f5f5f5;
}

.navbar-brand {
    font-family: 'Comfortaa', cursive;
    margin-bottom: -.2rem;
}