.articles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#article-list {
    padding: 10px;
}

.article {
    width: 50rem;
}

.article h3 {
    text-align: center
}

.card-header p {
    text-align: center;
}

.card-body h6 {
    text-align: right;
}

.page {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

a {
    color: #148a63;
}

.card-text {
    height: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-family: 'Times New Roman', Times, serif;
}

#article-list h3 a:hover {
    color: #148a63;
    text-decoration: none;
}

img {
    width: 100%;
}